extends layout

block content
  p 
    a(href="/") Home
  h1 #{show.seriesName} - #{show.network}
  
  if show.banner
    img(src="https://thetvdb.com/banners/#{show.banner}" style="max-width:400px")
  
  p First aired: #{show.firstAired}
  //- p #{show.overview}
  //- p Wikipedia: 
  //-   a(href="https://en.wikipedia.org/wiki/#{wikilink}") https://en.wikipedia.org/wiki/#{wikilink}
  - var lastEpisodeSeason = -1
  each episode in episodes
    if episode.absoluteNumber>0
      if lastEpisodeSeason!=episode.airedSeason
        h2 Season #{episode.airedSeason}
        hr
      .episode
        h3 #{episode.episodeName}
        p
          em Season #{episode.airedSeason}, Episode #{episode.airedEpisodeNumber}
        - lastEpisodeSeason = episode.airedSeason
        p First aired 
          b #{episode.firstAired} 
          | - show me Wikipedia from the 
          a(target="_blank" href="/timetravel?wikilink=#{wikilink}&date=#{episode.firstAiredBefore}") day before (no spoilers)
          |  or  
          a(target="_blank" href="/timetravel?wikilink=#{wikilink}&date=#{episode.firstAiredAfter}") the day after
        //- p #{episode.overview}
    